<div class="componenteMeioInferior">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
    <style>
        .tabela {
            display: flex;
            flex-direction: row;
            gap: 50px;
        }

        .coluna1, .coluna2, .coluna3 {
            display: flex;
            flex-direction: column;
            width: 193px;
            word-wrap: break-word;
        }

        .coluna2, .coluna3 {
            padding-top: 91px;
        }
       .linha {
            border: 0;
            width: 1px;
            height: 500px; 
            background-color: rgba(128, 128, 128, 0.2);
            transform-origin: left center;
            margin: 20px; 
        } 
        body {
            font-family: 'Poppins', sans-serif;
        } 
        
        h1, h3 {
            font-family: 'Poppins', sans-serif;
        } 
         h3 {
            font-size:large;
            font-weight: 400;
         }
 button {
    width:215px ;
    height: 64px;
    background-color:#b88e2f ;
    border: 0;
    color: white;
    font-size: large;

 }
</style>
<body>
<div class="tabela">

<div class="coluna1">
    <div>
    <h1>Warranty</h1>
</div>
<h3>Warranty Summary</h3>
<br><br>
<h3>Warranty Service Type</h3>
<br><br><br><br>
<h3>Covered in Warranty</h3>
<br><br><br><br><br>
<h3>Not Covered in Warranty</h3>
<br><br><br><br><br><br>
<h3>Domestic Warranty</h3>
</div>

<hr class="linha">

<div class="coluna2">
<h3>1 Year Manufacturing Warranty</h3>
<br>
<h3>For Warranty Claims or Any Product Related Issues Please Email at operations@trevifurniture.com</h3>
<h3>Warranty Against Manufacturing Defect</h3>
<br><br>
<h3>The Warranty Does Not Cover Damages Due To Usage Of The Product Beyond Its Intended Use And Wear & Tear In The Natural Course Of Product Usage.</h3>
<h3>1 Year</h3>
<br>
<button>Add To Cart</button>
</div>

<hr class="linha">

<div class="coluna3">
<h3>1.2 Year Manufacturing Warranty</h3>
<h3>For Warranty Claims or Any Product Related Issues Please Email at support@xyz.com</h3>
<br>
<h3>Warranty of the product is limited to manufacturing defects only.</h3>
<br>
<h3>The Warranty Does Not Cover Damages Due To Usage Of The Product Beyond Its Intended Use And Wear & Tear In The Natural Course Of Product Usage.</h3>
<h3>3 Months</h3>
<br>
<button>Add To Cart</button>
</div>
</div>
</div>
